*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-image: url(./Techy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: linear-gradient(rgb(53, 1, 53),rgb(59, 2, 59), rgb(151, 2, 151), rgb(94, 3, 179)); */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgbgbody
{
    position: relative;
    overflow: hidden;
}
.imgbgbody img{
    position: relative;
    z-index: 0;
}
/* --------------------Nava bar------------ */
.navbar{
    position: absolute;
    left: 0;
    top: 0;
}
ul a{
    font-family: Arial;
    text-decoration: none;
}

.nav-item:hover{
    height: 35px;
    background-color: rgb(255, 39, 237);
    border-bottom: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
}

/* ---------------------Intro------------------------ */
.introbody{
    position: absolute;
    left: 20px;
    top: 80px;
}
.span2{
    color: rgb(243, 103, 173);
    font-size: 55px;
}

.name{
    letter-spacing: 1px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s;
    animation-iteration-count: 5;
    animation-direction: alternate;

   
}

.fsd{
    color: aqua;
    height: 50px;
    overflow: hidden;
    display: flex;
}

.fsd span{
    animation: fsd 3s;
    animation-iteration-count: 5;
    animation-direction: alternate;

   
}

.intro{
    height: 55px;
    overflow: hidden;
}

.intro p{
    font-size: 13px;
    margin-top: 100px;
    animation: intro 10s 1 5s;
    animation-play-state: running;
    cursor: pointer;

}
.intro p:hover
{
    animation-play-state: paused;
}


/* -------------------Contact Card & Animation----------------------- */
.outerbox{
    position: absolute;
    left: 5rem;
    bottom: 12rem;
    overflow: hidden;
}
.contactbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -20rem;
     z-index: 6;
    align-items: center;

}

.iconbox
{
    overflow: hidden;
    position: absolute;
}

.contactactive{
animation-name: contact;
animation-duration: 1.5s;
animation-iteration-count: 1;
/* animation-delay: 1.5s; */
animation-fill-mode: forwards;
}
.icons{
    display: flex;
    justify-content: start;
    height: auto;
    align-items: center;
    margin: 10px;
    padding-left: 8px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 5px 8px rgb(141, 165, 189),
    inset -2px -3px 9px rgb(50, 133, 133);
}
.text a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: bold;
}
.text{
    font-size: 11px;
    margin-left: -55px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
/* <-------------Carousel Project--------------> */
.prjtbody{
    position: absolute;
    top: 43%;
    left: 27%;
    transform: skewX(20deg);
    opacity: 0;
    transition: 1s;

}

.projecttoggle{
    opacity: 1;

}
.zoomtgl
{
    transform: skewX(0);
    z-index: 1000;
    transform: scale(1.7);
}

.imgbody{
    border-radius: 5px;
    box-shadow:  inset -12px -13px 10px #0213ff, inset 12px 13px 10px #0044ff;

}


/* <----------------MObile & Animation----------------> */
.mblbody{
    position: absolute;
    bottom:10%;
    left: 18%;
    z-index: 5;
    transition: 2.5s;
    overflow: hidden;
}
.btn_zero{
    position: relative;
}
.mblbtn{
    position: absolute;
    bottom: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 1.3rem;
    z-index: 5;
    border: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgba(255, 0, 149, 0.952);
    border-left: 1px solid rgba(255, 0, 149, 0.952);
}
.mblbtnanime{
    animation-name: mblbtn;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}
.mobilimg{
    height: 6rem;

}
.mbltoggle{
    transform: scale(3.5);
    bottom:15rem;
}
.mobile{
    position: relative;
}


/* <----------------------Skills----------------------> */


.menubody{
    position: absolute;
    right: -350px;
    top: 25%;
    transition: 2s;
    animation-name: circlerotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;

}
.menuactiveanime{
    animation-delay: 3s;
    animation-play-state: running;
    animation-fill-mode: backwards;
}
.menuactive
{
    right: 7%;
    top: 25%;
}

.menu 
{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    backdrop-filter: blur(9px);
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;
    align-items: center;
    display: flex;
    justify-content: center;
}
.menu li{
    position: absolute;
    left: 0px;
    list-style: none;
    transform-origin: 150px;
    transition: 1s;
    transition-delay: calc(0.1s* var(--i));
    transform: rotate(0deg) translateX(125px);
    
}
.plusbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;

}
.active li
{
    transform: rotate(calc(360deg / 8 * var(--i)));

}

.circle3d{
    background: radial-gradient(circle at 15px 20px, 
    #21c2fddc,rgb(2, 63, 150),rgb(2, 33, 68),rgb(255, 0, 221));
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    transform: rotate(calc(360deg / -8 * var(--i)));

}

.plusicon
{
    font-size: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: 1.2s;
    animation-name: pluszoom;
    background-color: white;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;


}
.plusactive{
    transform: rotate(315deg);
    animation-play-state: paused;
    animation: none;
}

/* <----------------------Resume----------------------> */
.Resumebody{
    position: absolute;
    bottom: 7.5%;
    left: 15%;
    transform: perspective(1000px) rotateX(-85deg) rotateZ(60deg);
    transition: 2s;

}
.Resumebodyactive{
    translate: 350px -150px;
    transform: perspective(1000px) rotateX(0deg) rotateZ(0deg);

}
.card{
    position: relative;
    width: 100px;
    height: 120px;
    background-color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 0 20px grey;
    transform: perspective(2000px) rotateZ(0);
    transition: .5s ease;
    transform-style: preserve-3d;
}
.cardactive{
    width: 300px;
    height: 400px;
}
.cardtgl{
    transform: perspective(2000px) rotate(-10deg);
    transition: .5s;
}
.covertgl
{
    transform: rotateY(-145deg);
    transition: .5s;

}
.cover
{
    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 1s ease;

}
.cover img{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 5px;

}
.cover img:nth-child(2)
{
    transform: rotateY(180deg);

}
.resume{
    width: 100%;
    height: 100%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;

}




/* <----------------------Overall Animation----------------------> */
@keyframes typing
{
    0%{width: 0; border-right: 4px solid; border-color: white;}
    100%{width: 83%; border-right: 4px solid; border-color: rgb(0, 0, 0);}
}
@keyframes fsd
{
    from{margin-top: -200px;}
}
@keyframes intro{
    0%{
      margin-top: 100px;
    }
    25%{
      margin-top: 0px;
    }
    100%{
      margin-top: -45px;
    }
  
}
@keyframes circlerotate
{
    form{transform: rotate(0deg);}
    to{transform:rotate(360deg)}
}
@keyframes pluszoom
{
    0%{background-color: rgb(0, 162, 255);}
    50%{background-color: rgb(223, 121, 243);}
    100%{background-color: rgb(213, 3, 255);}
}
@keyframes contact
{
    0%{top: -20rem;}
    100%{top: 0rem;}
}
@keyframes mblbtn
{
    from{
        transform: rotate(360deg);
    }
}
 